<mat-toolbar color="primary" class="horizontal-menu" ngClass.gt-sm="px-0">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxHide="false"
    fxHide.gt-sm
    class="w-100"
  >
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>ZM Movies</span>
  </div>
  <div fxShow="false" fxShow.gt-sm class="container">
    <app-menu></app-menu>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="sidenav" autoFocus="false">
    <div class="h-100">
      <app-menu></app-menu>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
