$toolbar-height: 64px; 
$sidenav-width: 140px;

.horizontal-menu{
    position: fixed;
    height: $toolbar-height;
    z-index: 9;
}

.sidenav{
    width: $sidenav-width;
    position: fixed;
    overflow: hidden;
}

.wrapper {
    min-height: calc(100vh - $toolbar-height);
    margin-bottom: 10px;
}

.mat-drawer-container{
    min-height: 100%;
    height: auto!important;
    padding-top: $toolbar-height;
}
.mat-drawer{
    top: $toolbar-height;
}
.mat-drawer-content{
    overflow:hidden !important;
}