<mat-card class="card-container">
  <mat-card-title class="header"> <span>Search Movies</span> </mat-card-title>
  <form [formGroup]="searchForm" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="Movie">Movie</mat-option>
        <mat-option value="TvShow">Tv show</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <input matInput formControlName="year" />
    </mat-form-field>
    <button mat-raised-button>Search <mat-icon>search</mat-icon></button>
  </form>
</mat-card>
