<!-- Hide for desktop -->
<img class="poster" src="{{ selectedShow?.poster }}" fxHide.gt-md />
<!-- Use fx row layout for desktop -->
<div
  class="details-container"
  [fxLayout.gt-sm]="'row'"
  [fxLayoutAlign.gt-sm]="'center start'"
>
  <!-- Show for desktop -->
  <img class="poster" src="{{ selectedShow?.poster }}" fxHide.sm />
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title
        >{{ selectedShow?.title }}
        <span class="rated">
          {{ selectedShow?.rated }}
        </span>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list
          ><mat-chip *ngFor="let genre of selectedShow?.genres">{{
            genre
          }}</mat-chip></mat-chip-list
        >
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ selectedShow?.plot }}
      </p>
      <mat-divider></mat-divider>
      <p class="mt-4">Directors: {{ selectedShow?.directors }}</p>
      <mat-divider></mat-divider>
      <p class="mt-4">Writers: {{ selectedShow?.writers }}</p>
      <mat-divider></mat-divider>
      <p class="mt-4">Actors: {{ selectedShow?.actors }}</p>
      <mat-divider></mat-divider>
      <p class="mt-4">Languages: {{ selectedShow?.languages }}</p>
    </mat-card-content>
  </mat-card>
</div>
