<div class="app app-light h-100">
  <router-outlet></router-outlet>
  <!-- <mat-toolbar class="horizontal-menu background-light" ngClass.gt-sm="px-0">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxHide="false"
      fxHide.gt-sm
      class="w-100"
    >
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ZM Movies</span>
    </div>
    <div fxShow="false" fxShow.gt-sm class="container">
      <app-menu></app-menu>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="background-light">
    <mat-drawer #drawer mode="over" class="sidenav" autoFocus="false">
      <div class="h-100">
        <app-menu></app-menu>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container> -->
</div>
