<form [fxLayout]="'column'" [fxLayoutAlign]="'start'" [formGroup]="searchForm">
  <mat-form-field appearance="outline" class="search-bar ml-2">
    <mat-label>Search for a {{ searchType }}</mat-label>
    <input formControlName="title" matInput />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
    <mat-error *ngIf="hasError('title')">A search query is required.</mat-error>
  </mat-form-field>
  <mat-form-field class="ml-2" [fxFlexAlign]="'start'" appearance="outline">
    <mat-label>Year of release (opional)</mat-label>
    <input formControlName="year" matInput />
    <mat-error *ngIf="hasError('year')">{{ getYearErrorMessage() }}</mat-error>
  </mat-form-field>
</form>
